[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/gohugo-ananke/ananke
[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch
[submodule "themes/mjkud"]
	path = themes/mjkud
	url = https://github.com/ericmurphyxyz/hugo-starter-theme
